*{
    margin: 0;
    padding:0;
    border: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body {
    background-color:rgb(254, 36, 69);
    color:white;
    margin: 50px;
    
}

.main {
    background-color: #2b2951;
    /* border: 2px solid white; */
    background: url("map.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 650px;
    width: 98%;
    margin-left: 25px;
    
}

.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 50px;
    /* color: white; */
    margin-left: 90px;
    
}

.logo {
    list-style: none;
}

.header-ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-ul li {
    margin-right: 100px;
    font-weight: 500;
}

.header-ul li a {
    text-decoration: none;
    color: white;
    /* font-size:18px; */
    font-weight: bold;
}

.nav-button {
    border-radius: 3px;
    padding:4px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #b7f3f7;
    border:2px solid #ff00bb;
    margin-top: 5px;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.hero-right {
    padding-left: 10px;
}

.hero-ul li {
    list-style: none;
    margin-bottom: 50px;
    font-size: 1.5rem;
    background-color: #ffffff;
}

button:hover {
    cursor: pointer;
    background-color:#4e77f4;
}

.header-ul li:hover {
    cursor: pointer;
    font-size: 1.15rem;
}

.footer {
    text-align: center;
    margin-top: 0px;
}

